<!DOCTYPE html>
<html>

<head>
    <title>My Bank</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/transaction.css') }}">
</head>

<body>
    <div class="logout">
        <a href="{{ url_for('logout') }}"">Logout</a>
    </div>
    <div class=" contaner">
            <div class="transaction-box">
                <form action="/process" method="post">
                    <h1>Transaction Panel</h1>
                    <input type="text" name="amount" placeholder="Enter the amount"><br>
                    <button type="submit" name="action" value="credit" class="btn">Credit</button>
                    <button type="submit" name="action" value="debit" class="btn">Debit</button>
                    <button type="submit" name="action" value="check balance" class="btn-balance">Check Balance</button>
                </form>
                {% if balance is not none %}
                {% if action == "credit" %}
                <p>credit success</p><br>
                {% endif %}
                {% if action == "debit" %}
                <p>Debit success</p>
                {% endif %}
                {% if action == "check balance" %}
                <p>Your Current Balance is: ₹{{ balance }}</p>
                {% endif %}
                {% endif %}
            </div>
    </div>
</body>

</html>